#contentwrap {
    width: 75%;
    float: left;
    margin: 0 auto;
}

#content {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
}

#leftcolumnwrap {
    width: 25%;
    height: 100%;
    float: left;
    visibility: visible;
}

#leftcolumn {
    background: #808080;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    margin: 5px;
}

#rightcolumnwrap {
    width: 25%;
    float: left;
    margin: 0 auto;
}

#rightcolumn {
    background: #CFCFCF;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    margin: 5px;
}