<p>Maas Chart</p>
<kendo-chart #chart (seriesClick)="onSeriesClick($event)" style="height:100%">
  <kendo-chart-series>
    <kendo-chart-series-item type="column" color="red" [data]="seriesData" field="RedMetlCount" categoryField="TagConfig" [stack]="{ group: 'Metl Count' }">
    </kendo-chart-series-item>
    <kendo-chart-series-item type="column" color="yellow" [data]="seriesData" field="YellowMetlCount" categoryField="TagConfig" [stack]="{ group: 'Metl Count' }">
    </kendo-chart-series-item>
    <kendo-chart-series-item type="column" color="green" [data]="seriesData" field="GreenMetlCount" categoryField="TagConfig" [stack]="{ group: 'Metl Count' }">
    </kendo-chart-series-item>
    <kendo-chart-series-item type="column" color="black" [data]="seriesData" field="BlackMetlCount" categoryField="TagConfig" [stack]="{ group: 'Metl Count' }">
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>