<div class='bar'>
    <div class='bar-section'>
        <div class='bar-section-left'>
            Dashboard:&nbsp;&nbsp;{{ menuHeader.dashboard.name }}
        </div>
    </div>
    <div class='bar-section bar-section-middle'>
        Widget:&nbsp;&nbsp;{{ menuHeader.selectedMenuItem.name }}
    </div>
    <div class='bar-section bar-section-middle'>
        User View:&nbsp;&nbsp;{{ menuHeader.user.displayName }}
    </div>
    <div class='bar-section bar-section-right'>
        <div class='image camera' title="Save Screenshot"></div>
        <div class='separator'></div>
        <div class='image info' title="Data Pedigree"></div>
        <div class='separator'></div>
        <div class='image settings' title="Configuration"></div>
        <div class='separator'></div>
        <div class='image pin' title="Auto Hide"></div>
    </div>
</div>