<div class='root'>
    <div class='root-middle-outer-border'>
        <div class='root-middle-inner-border'>
            <div class='root-inner-border'>
                <div class='header'>
                    <div class='header-item'>
                        Settings
                    </div>
                </div>
                <kendo-panelbar [expandMode]="expandMode">
                    <kendo-panelbar-item *ngFor="let menuItem of menuItems" [title]="menuItem.title">
                        <ng-template kendoPanelBarContent>
                            <widget-settings-menu [menuItem]="menuItem" (itemSelected)="onItemSelected($event)"></widget-settings-menu>
                        </ng-template>
                    </kendo-panelbar-item>
                </kendo-panelbar>
                <div class='footer'>
                    <div class='footer-item'>
                        <button (click)='onSettingsApplied($event)'>Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>