{{configurationGroupName}}
    <div style="width:100%;background-color:lightgray">
        <table style="width:100%">
            <tr>
                <td style="font-size: xx-small;width:100px">C-Ratings</td>
                <td>
                    <table style="width:100%;">
                        <tr>
                            <td style="background: linear-gradient(to bottom, #cc0000, #4d0000);height:5px" [style.width.%]="cRedPercent"></td>
                            <td style="background: linear-gradient(to bottom, #ffff00, #b3b300);height:5px" [style.width.%]="cYellowPercent"></td>
                            <td style="background: linear-gradient(to bottom, #009933, #004d00);height:5px" [style.width.%]="cGreenPercent"></td>
                            <td style="background: linear-gradient(to bottom, #b3b3b3, #4d4d4d);height:5px" [style.width.%]="cGrayPercent"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <td style="font-size: xx-small;width:100px">METL Ratings</td>
                <td>
                    <table style="width:100%;">
                        <tr>
                            <td style="background: linear-gradient(to bottom, #cc0000, #4d0000);height:5px" [style.width.%]="mRedPercent"></td>
                            <td style="background: linear-gradient(to bottom, #ffff00, #b3b300);height:5px" [style.width.%]="mYellowPercent"></td>
                            <td style="background: linear-gradient(to bottom, #009933, #004d00);height:5px" [style.width.%]="mGreenPercent"></td>
                            <td style="background: linear-gradient(to bottom, #b3b3b3, #4d4d4d);height:5px" [style.width.%]="mGrayPercent"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>